RVL_ALIAS "i_slow_clk" "i_slow_clk"; 
RVL_ALIAS "slow_clk" "slow_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
# Input clock
FREQUENCY PORT "i_slow_clk" 50.000000 MHz ;
FREQUENCY PORT "i_adc_clk" 200.000000 MHz ;
FREQUENCY NET "internal_clk" 200.000000 MHz ;
# Bank voltages
SYSCONFIG CONFIG_IOVOLTAGE=3.3 MASTER_SPI_PORT=DISABLE MCCLK_FREQ=19.4 BACKGROUND_RECONFIG=OFF CONFIG_MODE=SPI_QUAD SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE ;
BANK 8 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 6 VCCIO 2.5 V;
BANK 3 VCCIO 2.5 V;
BANK 2 VCCIO 2.5 V;
BANK 1 VCCIO 1.8 V;
BANK 0 VCCIO 1.8 V;
# Pinout
## Data clock
LOCATE COMP "i_adc_clk" SITE "J20" ;
IOBUF PORT "i_adc_clk" DIFFRESISTOR=100 IO_TYPE=LVDS ;
## ADC data
LOCATE COMP "i_data_in[0]" SITE "D20" ;
LOCATE COMP "i_data_in[1]" SITE "E20" ;
LOCATE COMP "i_data_in[2]" SITE "H18" ;
LOCATE COMP "i_data_in[3]" SITE "J17" ;
LOCATE COMP "i_data_in[4]" SITE "J18" ;
LOCATE COMP "i_data_in[5]" SITE "L20" ;
LOCATE COMP "i_data_in[6]" SITE "N16" ;
LOCATE COMP "i_data_in[7]" SITE "N19" ;
LOCATE COMP "i_data_in[8]" SITE "P19" ;
LOCATE COMP "i_data_in[9]" SITE "T19" ;
LOCATE COMP "i_data_in[10]" SITE "U19" ;
LOCATE COMP "i_data_in[11]" SITE "R16" ;
IOBUF PORT "i_data_in[0]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[1]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[2]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[3]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[4]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[5]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[6]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[7]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[8]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[9]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[10]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[11]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
# Control interface
IOBUF PORT "i_slow_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_trigger" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "i_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_start_transfer" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "o_tx_clk" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[0]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[1]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_datavalid" IO_TYPE=LVDS ;
LOCATE COMP "o_tx_datavalid" SITE "P1" ;
LOCATE COMP "o_tx_clk" SITE "N2" ;
LOCATE COMP "o_tx_data[0]" SITE "G2" ;
LOCATE COMP "o_tx_data[1]" SITE "K2" ;
LOCATE COMP "i_start_transfer" SITE "L3" ;
LOCATE COMP "i_trigger" SITE "P3" ;
LOCATE COMP "i_eeprom_miso" SITE "V2" ;
IOBUF PORT "i_eeprom_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_eeprom_mosi" SITE "W2" ;
IOBUF PORT "o_eeprom_mosi" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_eeprom_ce" SITE "R2" ;
IOBUF PORT "o_eeprom_ce" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_housekeeping_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_housekeeping_miso" SITE "D1" ;
LOCATE COMP "i_housekeeping_mosi" SITE "C1" ;
IOBUF PORT "i_housekeeping_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_housekeeping_clk" IO_TYPE=LVDS DIFFRESISTOR=100 TERMINATION=OFF ;
LOCATE COMP "i_slow_clk" SITE "H4" ;
LOCATE COMP "i_housekeeping_clk" SITE "H2" ;
LOCATE COMP "i_housekeeping_ce" SITE "J3" ;
IOBUF PORT "i_housekeeping_ce" IO_TYPE=LVDS DIFFRESISTOR=100 TERMINATION=OFF ;
FREQUENCY PORT "i_housekeeping_clk" 12.500000 MHz HOLD_MARGIN 0.500000 ns ;
LOCATE COMP "i_rst" SITE "B2" ;
LOCATE COMP "o_housekeeping_dout[0]" SITE "F4" ;
LOCATE COMP "o_housekeeping_dout[2]" SITE "F5" ;
LOCATE COMP "o_housekeeping_dout[1]" SITE "E3" ;
IOBUF PORT "o_housekeeping_dout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_housekeeping_dout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_housekeeping_dout[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_housekeeping_dout[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_housekeeping_dout[4]" IO_TYPE=LVCMOS33 DIFFRESISTOR=OFF ;
IOBUF PORT "o_housekeeping_dout[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_housekeeping_dout[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_housekeeping_dout[7]" IO_TYPE=LVCMOS33 ;
