RVL_ALIAS "w_ddr_clk" "data_streamer_1/i_clk"; 
RVL_ALIAS "w_ddr_clk" "data_streamer_1/i_clk"; 
RVL_ALIAS "i_xtal_clk" "i_xtal_clk"; 
RVL_ALIAS "i_xtal_clk" "i_xtal_clk"; 
RVL_ALIAS "i_xtal_clk" "i_xtal_clk"; 
RVL_ALIAS "i_xtal_clk" "i_xtal_clk"; 
RVL_ALIAS "i_xtal_clk" "i_xtal_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_buffer_1/i_read_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_buffer_1/i_read_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_writer_1/i_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_writer_1/i_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_writer_1/i_clk"; 
RVL_ALIAS "reveal_ist_162" "housekeeping_1/boot_sequence_1/spi_clk"; 
RVL_ALIAS "i_slow_clk" "housekeeping_1/boot_sequence_1/i_clk"; 
RVL_ALIAS "internal_clk" "data_streamer_1/i_clk"; 
RVL_ALIAS "internal_clk" "data_streamer_1/i_clk"; 
RVL_ALIAS "internal_clk" "data_streamer_1/i_clk"; 
RVL_ALIAS "internal_clk" "data_streamer_1/data_buffer_1/i_write_clk"; 
RVL_ALIAS "internal_clk" "data_streamer_1/data_buffer_1/i_write_clk"; 
RVL_ALIAS "tx_clk" "data_streamer_1/data_buffer_1/i_read_clk"; 
RVL_ALIAS "internal_clk" "internal_clk"; 
RVL_ALIAS "reveal_ist_7" "adc_driver_1/sclk_t"; 
RVL_ALIAS "reveal_ist_6" "adc_driver_1/sclk_t"; 
RVL_ALIAS "i_slow_clk" "i_slow_clk"; 
RVL_ALIAS "slow_clk" "slow_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
# Input clock
FREQUENCY PORT "i_adc_clk" 250.000000 MHz ;
# Bank voltages
SYSCONFIG CONFIG_IOVOLTAGE=3.3 MASTER_SPI_PORT=DISABLE MCCLK_FREQ=19.4 BACKGROUND_RECONFIG=ON CONFIG_MODE=SPI_QUAD SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE ;
BANK 8 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 6 VCCIO 2.5 V;
BANK 3 VCCIO 2.5 V;
BANK 2 VCCIO 2.5 V;
BANK 1 VCCIO 1.8 V;
BANK 0 VCCIO 1.8 V;
# Pinout
## Data clock
IOBUF PORT "i_adc_clk" DIFFRESISTOR=100 IO_TYPE=LVDS ;
## ADC data
IOBUF PORT "i_data_in[0]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[1]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[2]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[3]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[4]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[5]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[6]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[7]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[8]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[9]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[10]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[11]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
# Control interface
IOBUF PORT "i_xtal_clk" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "i_trigger" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "o_tx_clk" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[0]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[1]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_datavalid" IO_TYPE=LVDS ;
IOBUF PORT "o_hk_adc_ce" IO_TYPE=LVCMOS18 ;
IOBUF PORT "o_hk_adc_clk" IO_TYPE=LVCMOS18 ;
LOCATE COMP "o_hk_adc_ce" SITE "D13" ;
LOCATE COMP "o_hk_adc_clk" SITE "A13" ;
LOCATE COMP "i_adc_clk" SITE "J20" ;
LOCATE COMP "i_data_in[0]" SITE "E18" ;
LOCATE COMP "i_data_in[1]" SITE "C20" ;
LOCATE COMP "i_data_in[2]" SITE "D20" ;
LOCATE COMP "i_data_in[3]" SITE "E20" ;
LOCATE COMP "i_data_in[4]" SITE "H18" ;
LOCATE COMP "i_data_in[5]" SITE "J17" ;
LOCATE COMP "i_data_in[6]" SITE "J18" ;
LOCATE COMP "i_data_in[7]" SITE "L20" ;
LOCATE COMP "i_data_in[8]" SITE "N16" ;
LOCATE COMP "i_data_in[9]" SITE "N19" ;
LOCATE COMP "i_data_in[10]" SITE "P19" ;
LOCATE COMP "i_data_in[11]" SITE "T19" ;
LOCATE COMP "i_xtal_clk" SITE "H2" ;
LOCATE COMP "o_hk_adc_mosi" SITE "A12" ;
IOBUF PORT "o_hk_adc_mosi" IO_TYPE=LVCMOS18 ;
LOCATE COMP "i_trigger" SITE "P3" ;
FREQUENCY PORT "i_xtal_clk" 100.000000 MHz ;
LOCATE COMP "o_bias_t" SITE "E5" ;
IOBUF PORT "o_bias_t" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_hk_adc_reset" SITE "B13" ;
IOBUF PORT "o_hk_adc_reset" IO_TYPE=LVCMOS18 ;
FREQUENCY NET "w_ddr_clk" 125.000000 MHz ;
LOCATE COMP "o_tx_clk" SITE "G2" ;
LOCATE COMP "o_tx_data[0]" SITE "K2" ;
LOCATE COMP "o_tx_data[1]" SITE "M4" ;
LOCATE COMP "o_hk_uub_miso" SITE "N2" ;
IOBUF PORT "o_hk_uub_miso" IO_TYPE=LVDS ;
LOCATE COMP "o_hk_gpio[0]" SITE "F4" ;
LOCATE COMP "o_hk_gpio[1]" SITE "E3" ;
LOCATE COMP "o_hk_gpio[2]" SITE "F5" ;
IOBUF PORT "o_hk_gpio[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hk_gpio[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hk_gpio[2]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_hk_flash_ce" SITE "R2" ;
IOBUF PORT "o_hk_flash_ce" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_hk_flash_mosi" SITE "W2" ;
IOBUF PORT "o_hk_flash_mosi" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_hk_flash_miso" SITE "V2" ;
IOBUF PORT "i_hk_flash_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_hk_adc_miso" SITE "C13" ;
IOBUF PORT "i_hk_adc_miso" IO_TYPE=LVCMOS18 ;
LOCATE COMP "i_hk_uub_ce" SITE "N4" ;
LOCATE COMP "i_hk_uub_clk" SITE "J3" ;
LOCATE COMP "i_hk_uub_mosi" SITE "L4" ;
IOBUF PORT "i_hk_uub_ce" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "i_hk_uub_clk" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "i_hk_uub_mosi" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "io_ads1015_scl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ads1015_sda" IO_TYPE=LVCMOS33 ;
LOCATE COMP "io_ads1015_scl" SITE "A4" ;
LOCATE COMP "io_ads1015_sda" SITE "B5" ;
IOBUF PORT "io_si7060_scl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_si7060_sda" IO_TYPE=LVCMOS33 ;
LOCATE COMP "io_si7060_scl" SITE "C2" ;
LOCATE COMP "io_si7060_sda" SITE "B2" ;
FREQUENCY NET "housekeeping_1/ads1015_1/r_i2c_clk" 0.800000 MHz ;
