RVL_ALIAS "slow_clk" "slow_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
# Input clock
FREQUENCY NET "internal_clk" 200.000000 MHz ;
FREQUENCY NET "i_slow_clk_c" 40.000000 MHz ;## Automatically derived internal name for clk_uart
FREQUENCY NET "o_uart_clk_c" 0.115200 MHz ;
# Bank voltages
SYSCONFIG CONFIG_IOVOLTAGE=3.3 MASTER_SPI_PORT=ENABLE MCCLK_FREQ=19.4 BACKGROUND_RECONFIG=ON CONFIG_MODE=SPI_QUAD ;
BANK 8 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 6 VCCIO 2.5 V;
BANK 3 VCCIO 2.5 V;
BANK 2 VCCIO 2.5 V;
BANK 1 VCCIO 1.8 V;
BANK 0 VCCIO 1.8 V;
# Pinout
## Data clock
LOCATE COMP "i_adc_clk" SITE "J20" ;
IOBUF PORT "i_adc_clk" DIFFRESISTOR=100 IO_TYPE=LVDS ;
## ADC data (reserve extra bits for 14bit ADC option)
LOCATE COMP "i_data_in[0]" SITE "E18" ;
LOCATE COMP "i_data_in[1]" SITE "C20" ;
LOCATE COMP "i_data_in[2]" SITE "D20" ;
LOCATE COMP "i_data_in[3]" SITE "E20" ;
LOCATE COMP "i_data_in[4]" SITE "H18" ;
LOCATE COMP "i_data_in[5]" SITE "J17" ;
LOCATE COMP "i_data_in[6]" SITE "J18" ;
LOCATE COMP "i_data_in[7]" SITE "L20" ;
LOCATE COMP "i_data_in[8]" SITE "N16" ;
LOCATE COMP "i_data_in[9]" SITE "N19" ;
LOCATE COMP "i_data_in[10]" SITE "P19" ;
LOCATE COMP "i_data_in[11]" SITE "T19" ;
LOCATE COMP "i_data_in[12]" SITE "U19" ;
LOCATE COMP "i_data_in[13]" SITE "R16" ;
LOCATE COMP "i_data_overflow" SITE "U16" ;
IOBUF PORT "i_data_in[0]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[1]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[2]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[3]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[4]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[5]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[6]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[7]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[8]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[9]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[10]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[11]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[12]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_in[13]" DIFFRESISTOR=100 IO_TYPE=LVDS ;
IOBUF PORT "i_data_overflow" DIFFRESISTOR=100 IO_TYPE=LVDS ;
# Control interface
LOCATE COMP "i_slow_clk" SITE "H4" ;
LOCATE COMP "i_rst" SITE "B2" ;
IOBUF PORT "i_slow_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_trigger" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "i_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_start_transfer" IO_TYPE=LVDS DIFFRESISTOR=100 ;
IOBUF PORT "o_tx_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_data_ready" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_uart_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_tx_clk" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[0]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_data[1]" IO_TYPE=LVDS ;
IOBUF PORT "o_tx_datavalid" IO_TYPE=LVDS ;
LOCATE COMP "o_tx_datavalid" SITE "P1" ;
LOCATE COMP "o_tx_clk" SITE "N2" ;
LOCATE COMP "o_tx_data[0]" SITE "G2" ;
LOCATE COMP "o_tx_data[1]" SITE "K2" ;
LOCATE COMP "i_start_transfer" SITE "L3" ;
LOCATE COMP "i_trigger" SITE "P3" ;
